$body-font-size: 1.8rem;

// Sizes
$wrap-size: 90rem;
$wrap-padding: 2rem;
$spacer-sm: 0.5rem;
$spacer-md: 1rem;
$spacer-xl: 2rem;

// colors
$background-color-dark: #333;
$background-color-light: #FFF;

$dark-contrast-color: #FFF;
$light-contrast-color: #333;

$color-primary: #EB0A12;
$color-secondary: #1E6F9E;
$color-tertiary: #9E9C26;